## Исследование надёжности заёмщиков

Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок.

## Описание данных

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

### Шаг 1. Откройте файл с данными и изучите общую информацию.

<font color='gray'>#Свои комментарии буду оставлять серым цветом

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

<font color='gray'>#Проверим названия столбцов для корректной работы с ними

In [2]:
df.columns

Index(['children', 'days_employed', 'dob_years', 'education', 'education_id',
       'family_status', 'family_status_id', 'gender', 'income_type', 'debt',
       'total_income', 'purpose'],
      dtype='object')

In [3]:
df[df['total_income'].isnull() == True]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
26,0,NaN,41,среднее,1,женат / замужем,0,M,госслужащий,0,NaN,образование
29,0,NaN,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,NaN,строительство жилой недвижимости
41,0,NaN,50,среднее,1,женат / замужем,0,F,госслужащий,0,NaN,сделка с подержанным автомобилем
55,0,NaN,54,среднее,1,гражданский брак,1,F,пенсионер,1,NaN,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,NaN,47,Среднее,1,женат / замужем,0,M,компаньон,0,NaN,сделка с автомобилем
21495,1,NaN,50,среднее,1,гражданский брак,1,F,сотрудник,0,NaN,свадьба
21497,0,NaN,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,NaN,строительство недвижимости
21502,1,NaN,42,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,строительство жилой недвижимости
21510,2,NaN,28,среднее,1,женат / замужем,0,F,сотрудник,0,NaN,приобретение автомобиля

<font color='gray'> # Посмотрим информацию о наборе данных, воспользуюсь методом info()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<font color='gray'>#Заметим, что столбцы days_employed и total_income отличаются общим числом элементов

In [5]:
df.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

<font color='gray'>#Уберем отрицательны значения в df

In [6]:
df['days_employed'] = df['days_employed'].abs()
df['total_income'] = df['total_income'].abs()
#df.head(5)

<font color='gray'>#Сохраним копию df в df_with_nan

In [7]:
import copy
df_with_nan = copy.deepcopy(df)

<font color='gray'>#Для удобства работы с пропущенными значениями переминаем их методом .fillna('unknown')

In [8]:
df_with_nan['days_employed'] = df_with_nan['days_employed'].fillna('unknown')
df_with_nan['total_income'] = df_with_nan['total_income'].fillna('unknown')

<font color='gray'>#<br>Попытаемся найти причину наличия пропущенных значений:
<ol>
 <li>Для этого выведем все строки со значениями 'unknown'</li>
 <li>Создадим список со значениями 'unknown' в столбце 'days_employed'</li>
 <li>Потом в этом списке посчитаем количество строк со значением 'unknown' в столбце 'total_income'</li>
</ol>#

<font color='gray'>#Количество days_employed со значением unknown

In [9]:
df_with_nan[df_with_nan['days_employed'] == 'unknown']['days_employed'].count()

2174

<font color='gray'>#Запишем days_employed со значением unknown в отдельную переменную

In [10]:
df_days_employed = df_with_nan[df_with_nan['days_employed'] == 'unknown']

<font color='gray'>#Количество total_income со значением unknown

In [11]:
df_with_nan[df_with_nan['total_income'] == 'unknown']['total_income'].count()

2174

<font color='gray'>#Проверим количество total_income со значением unknown в переменной df_days_employed

In [12]:
df_days_employed[df_days_employed['total_income'] == 'unknown']['total_income'].count()

2174

In [13]:
df_days_employed.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [14]:
df_with_nan[(df_with_nan['days_employed'] == 'unknown') & (df_with_nan['total_income'] == 'unknown')]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
12,0,unknown,65,среднее,1,гражданский брак,1,M,пенсионер,0,unknown,сыграть свадьбу
26,0,unknown,41,среднее,1,женат / замужем,0,M,госслужащий,0,unknown,образование
29,0,unknown,63,среднее,1,Не женат / не замужем,4,F,пенсионер,0,unknown,строительство жилой недвижимости
41,0,unknown,50,среднее,1,женат / замужем,0,F,госслужащий,0,unknown,сделка с подержанным автомобилем
55,0,unknown,54,среднее,1,гражданский брак,1,F,пенсионер,1,unknown,сыграть свадьбу
...,...,...,...,...,...,...,...,...,...,...,...,...
21489,2,unknown,47,Среднее,1,женат / замужем,0,M,компаньон,0,unknown,сделка с автомобилем
21495,1,unknown,50,среднее,1,гражданский брак,1,F,сотрудник,0,unknown,свадьба
21497,0,unknown,48,ВЫСШЕЕ,0,женат / замужем,0,F,компаньон,0,unknown,строительство недвижимости
21502,1,unknown,42,среднее,1,женат / замужем,0,F,сотрудник,0,unknown,строительство жилой недвижимости
21510,2,unknown,28,среднее,1,женат / замужем,0,F,сотрудник,0,unknown,приобретение автомобиля

### Вывод

<font color='gray'>#Теперь мы знаем, что в df отсутствовали значения только в столбцах 'total_income' и 'days_employed'

### Шаг 2. Предобработка данных

In [15]:
df_with_nan['total_income'].value_counts(normalize=True)

unknown               0.100999
327678.58299279085    0.000046
141944.01516181062    0.000046
567917.6381898475     0.000046
141936.7972842977     0.000046
                        ...
87419.04507279933     0.000046
87420.56631820287     0.000046
120191.53049005414    0.000046
87425.71640384874     0.000046
81054.28860716878     0.000046
Name: total_income, Length: 19352, dtype: float64

<font color='purple'>#value_counts()<br><q>With normalize set to True, returns the relative frequency by dividing all values by the sum of values.</q>

In [16]:
df_with_nan[df_with_nan['total_income'] == 'unknown'].groupby('income_type')['total_income'].count()

income_type
госслужащий         147
компаньон           508
пенсионер           413
предприниматель       1
сотрудник          1105
Name: total_income, dtype: int64

### Обработка пропусков

<font color='gray'>#Пропущенные значения в days_employed,total_income в df

In [17]:
df.isnull().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

<font color='gray'>#Подсчёт количества значений income_type в df_days_employed

In [18]:
df[df['total_income'].isna()]['income_type'].unique()

array(['пенсионер', 'госслужащий', 'компаньон', 'сотрудник',
       'предприниматель'], dtype=object)

In [19]:
df_days_employed['income_type'].value_counts()

сотрудник          1105
компаньон           508
пенсионер           413
госслужащий         147
предприниматель       1
Name: income_type, dtype: int64

<font color='gray'>#Большая часть пропусков у сотрудников

In [20]:
df_days_employed['income_type'].value_counts(normalize=True)

сотрудник          0.508280
компаньон          0.233671
пенсионер          0.189972
госслужащий        0.067617
предприниматель    0.000460
Name: income_type, dtype: float64

In [21]:
df_with_nan['income_type'].value_counts(normalize=True)

сотрудник          0.516562
компаньон          0.236237
пенсионер          0.179141
госслужащий        0.067782
безработный        0.000093
предприниматель    0.000093
в декрете          0.000046
студент            0.000046
Name: income_type, dtype: float64

In [22]:
print(df[df['total_income'].isna()]['income_type'].value_counts())
result = df[df['total_income'].isna()]['income_type'].value_counts(normalize=True)
result

сотрудник          1105
компаньон           508
пенсионер           413
госслужащий         147
предприниматель       1
Name: income_type, dtype: int64

сотрудник          0.508280
компаньон          0.233671
пенсионер          0.189972
госслужащий        0.067617
предприниматель    0.000460
Name: income_type, dtype: float64

In [23]:
print(df_with_nan['income_type'].value_counts())
root = df_with_nan['income_type'].value_counts(normalize=True)
root

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
в декрете              1
студент                1
Name: income_type, dtype: int64

сотрудник          0.516562
компаньон          0.236237
пенсионер          0.179141
госслужащий        0.067782
безработный        0.000093
предприниматель    0.000093
в декрете          0.000046
студент            0.000046
Name: income_type, dtype: float64

In [24]:
print('{:,.5}'.format(root['сотрудник'] - result['сотрудник']),'сотрудник')
print('{:,.5}'.format(root['компаньон'] - result ['компаньон']),'компаньон')
print('{:,.5}'.format(root['пенсионер'] - result ['пенсионер']),'пенсионер')
print('{:,.5}'.format(root['госслужащий'] - result ['госслужащий']),'госслужащий')
print('{:,.5}'.format(root['предприниматель'] - result ['предприниматель']),'предприниматель')

0.0082825 сотрудник
0.0025663 компаньон
-0.010832 пенсионер
0.00016435 госслужащий
-0.00036707 предприниматель

In [25]:
print('{:,.5}'.format(root['сотрудник'] / result['сотрудник']),'сотрудник')
print('{:,.5}'.format(root['компаньон'] / result ['компаньон']),'компаньон')
print('{:,.5}'.format(root['пенсионер'] / result ['пенсионер']),'пенсионер')
print('{:,.5}'.format(root['госслужащий'] / result ['госслужащий']),'госслужащий')
print('{:,.5}'.format(root['предприниматель'] / result ['предприниматель']),'предприниматель')

1.0163 сотрудник
1.011 компаньон
0.94298 пенсионер
1.0024 госслужащий
0.202 предприниматель

<font color='gray'>#Концентрация пропусков у сотрудников больше всего, но если учитывать количество людей по каждому типу занятости в основном датафрейме и сравнивать с количеством получившегося количества людей с пропусками по каждому типу, то пропорционально они окажутся практически одинаковыми. Кроме предпринимателей, которых в основном дата фрейме всего 2, а в список с пропусками попал 1, что является 50%, хотя из-за малого количества относительно общего числа людей в списке, распределение получается маленькое.

<font color='gray'>#Подсчёт количества значений income_type в df

In [26]:
df['income_type'].value_counts()

сотрудник          11119
компаньон           5085
пенсионер           3856
госслужащий         1459
безработный            2
предприниматель        2
в декрете              1
студент                1
Name: income_type, dtype: int64

<font color='gray'>#Найдем среднее значения по категории 'income_type' для заполнения пропусков

<font color='gray'>#<br>заполним пропуски, сделав отдельные срезы под нужные нам 'income_type'<br>
 <strike>заполнить все пропуски средним значением для всех зарплат</strike><br>#<br>И проверим значения в df по days_employed и total_income до замены<br>#

In [27]:
unique_type = df['income_type'].unique().tolist()  # сперва получим список всех типов занятости
unique_type

['сотрудник',
 'пенсионер',
 'компаньон',
 'госслужащий',
 'безработный',
 'предприниматель',
 'студент',
 'в декрете']

In [28]:
index_total_income_nan = df[df['total_income'].isna() == True].index.tolist() # список вcех индексов с NaN
index_total_income_nan

[12,
 26,
 29,
 41,
 55,
 65,
 67,
 72,
 82,
 83,
 90,
 94,
 96,
 97,
 120,
 121,
 135,
 141,
 145,
 174,
 181,
 189,
 205,
 220,
 241,
 242,
 247,
 250,
 264,
 278,
 279,
 280,
 312,
 317,
 320,
 321,
 322,
 328,
 360,
 361,
 364,
 376,
 383,
 389,
 415,
 416,
 421,
 444,
 458,
 466,
 490,
 499,
 503,
 515,
 518,
 520,
 541,
 554,
 573,
 619,
 627,
 645,
 646,
 649,
 651,
 652,
 653,
 680,
 681,
 683,
 686,
 712,
 713,
 719,
 724,
 736,
 743,
 760,
 763,
 788,
 829,
 830,
 835,
 849,
 851,
 853,
 885,
 888,
 919,
 923,
 924,
 930,
 936,
 941,
 950,
 959,
 973,
 974,
 978,
 980,
 988,
 991,
 1004,
 1005,
 1010,
 1011,
 1033,
 1045,
 1052,
 1054,
 1057,
 1063,
 1072,
 1075,
 1080,
 1092,
 1118,
 1135,
 1139,
 1167,
 1191,
 1202,
 1211,
 1212,
 1228,
 1229,
 1237,
 1247,
 1249,
 1257,
 1272,
 1289,
 1303,
 1313,
 1325,
 1338,
 1340,
 1365,
 1378,
 1391,
 1416,
 1431,
 1439,
 1450,
 1485,
 1510,
 1511,
 1520,
 1556,
 1561,
 1568,
 1569,
 1574,
 1594,
 1609,
 1616,
 1619,
 1620,
 1626,
 1630,
 1642,
 1658,
 1665,
 1681,
 1709,
 1712,
 1715,
 1716,
 1725,
 1745,
 1766,
 1770,
 1775,
 1779,
 1781,
 1782,
 1816,
 1825,
 1841,
 1855,
 1863,
 1871,
 1874,
 1875,
 1889,
 1890,
 1891,
 1906,
 1913,
 1935,
 1937,
 1941,
 1950,
 1963,
 1966,
 1969,
 1988,
 1998,
 2001,
 2033,
 2045,
 2052,
 2081,
 2085,
 2089,
 2092,
 2096,
 2113,
 2116,
 2171,
 2181,
 2185,
 2192,
 2196,
 2210,
 2212,
 2226,
 2232,
 2254,
 2270,
 2284,
 2297,
 2304,
 2310,
 2339,
 2343,
 2352,
 2356,
 2361,
 2370,
 2372,
 2396,
 2405,
 2522,
 2528,
 2542,
 2545,
 2581,
 2596,
 2604,
 2606,
 2607,
 2608,
 2611,
 2643,
 2644,
 2655,
 2656,
 2657,
 2662,
 2666,
 2669,
 2670,
 2685,
 2696,
 2697,
 2700,
 2706,
 2717,
 2723,
 2743,
 2763,
 2768,
 2786,
 2813,
 2831,
 2841,
 2849,
 2864,
 2887,
 2890,
 2900,
 2908,
 2910,
 2922,
 2942,
 2948,
 2957,
 2968,
 2974,
 2976,
 2981,
 2990,
 2995,
 2999,
 3002,
 3018,
 3037,
 3040,
 3042,
 3062,
 3075,
 3082,
 3085,
 3090,
 3092,
 3095,
 3103,
 3111,
 3122,
 3127,
 3140,
 3143,
 3186,
 3190,
 3201,
 3210,
 3211,
 3241,
 3290,
 3292,
 3302,
 3314,
 3341,
 3344,
 3348,
 3354,
 3378,
 3387,
 3395,
 3396,
 3398,
 3400,
 3402,
 3406,
 3407,
 3442,
 3448,
 3452,
 3473,
 3476,
 3486,
 3492,
 3513,
 3525,
 3529,
 3531,
 3533,
 3539,
 3541,
 3544,
 3551,
 3553,
 3561,
 3566,
 3568,
 3575,
 3584,
 3587,
 3599,
 3609,
 3610,
 3612,
 3619,
 3633,
 3635,
 3648,
 3654,
 3660,
 3661,
 3675,
 3683,
 3690,
 3691,
 3708,
 3722,
 3732,
 3742,
 3743,
 3757,
 3759,
 3802,
 3809,
 3829,
 3833,
 3839,
 3862,
 3865,
 3874,
 3886,
 3888,
 3891,
 3897,
 3901,
 3903,
 3907,
 3913,
 3948,
 3954,
 3968,
 3979,
 3992,
 4001,
 4009,
 4013,
 4020,
 4036,
 4049,
 4052,
 4064,
 4073,
 4078,
 4081,
 4086,
 4096,
 4108,
 4115,
 4124,
 4132,
 4139,
 4149,
 4152,
 4156,
 4182,
 4196,
 4197,
 4203,
 4206,
 4211,
 4216,
 4245,
 4257,
 4277,
 4278,
 4285,
 4309,
 4316,
 4320,
 4322,
 4344,
 4372,
 4376,
 4388,
 4400,
 4418,
 4437,
 4476,
 4477,
 4480,
 4504,
 4508,
 4517,
 4527,
 4529,
 4536,
 4550,
 4553,
 4564,
 4585,
 4596,
 4626,
 4634,
 4650,
 4658,
 4699,
 4739,
 4770,
 4777,
 4782,
 4784,
 4789,
 4809,
 4847,
 4849,
 4851,
 4852,
 4875,
 4899,
 4928,
 4938,
 4945,
 4959,
 4974,
 4977,
 4979,
 4999,
 5007,
 5009,
 5014,
 5033,
 5036,
 5042,
 5049,
 5053,
 5056,
 5058,
 5062,
 5063,
 5072,
 5076,
 5081,
 5086,
 5112,
 5124,
 5143,
 5147,
 5172,
 5176,
 5179,
 5180,
 5191,
 5203,
 5212,
 5216,
 5229,
 5232,
 5244,
 5257,
 5277,
 5279,
 5305,
 5310,
 5318,
 5329,
 5334,
 5338,
 5348,
 5355,
 5368,
 5376,
 5380,
 5383,
 5385,
 5394,
 5395,
 5411,
 5442,
 5476,
 5489,
 5511,
 5517,
 5520,
 5521,
 5530,
 5534,
 5537,
 5550,
 5557,
 5558,
 5565,
 5567,
 5583,
 5609,
 5617,
 5623,
 5632,
 5648,
 5657,
 5681,
 5683,
 5690,
 5695,
 5724,
 5740,
 5748,
 5771,
 5777,
 5795,
 5800,
 5802,
 5810,
 5815,
 5823,
 5843,
 5865,
 5869,
 5893,
 5899,
 5904,
 5936,
 5938,
 5948,
 5971,
 5972,
 5987,
 6048,
 6049,
 6050,
 6055,
 6057,
 6061,
 6068,
 6077,
 6086,
 6097,
 6098,
 6104,
 6106,
 6119,
 6152,
 6163,
 6198,
 6215,
 6217,
 6237,
 6255,
 6264,
 6304,
 6312,
 6314,
 6324,
 6349,
 6350,
 6363,
 6365,
 6366,
 6391,
 6397,
 6411,
 6415,
 6416,
 6417,
 6431,
 6452,
 6461,
 6481,
 6485,
 6486,
 6489,
 6492,
 6496,
 6510,
 6526,
 6529,
 6533,
 6537,
 6541,
 6544,
 6599,
 6626,
 6641,
 6655,
 6660,
 6663,
 6670,
 6674,
 6676,
 6683,
 6690,
 6693,
 6697,
 6718,
 6725,
 6730,
 6737,
 6740,
 6752,
 6762,
 6774,
 6777,
 6840,
 6877,
 6891,
 6895,
 6915,
 6917,
 6924,
 6949,
 6958,
 6972,
 6973,
 6985,
 7000,
 7002,
 7020,
 7025,
 7040,
 7043,
 7050,
 7058,
 7059,
 7079,
 7088,
 7097,
 7098,
 7103,
 7130,
 7151,
 7158,
 7159,
 7193,
 7199,
 7203,
 7204,
 7205,
 7228,
 7267,
 7285,
 7299,
 7310,
 7313,
 7314,
 7315,
 7323,
 7328,
 7376,
 7379,
 7399,
 7405,
 7416,
 7417,
 7420,
 7424,
 7440,
 7450,
 7451,
 7453,
 7470,
 7474,
 7479,
 7482,
 7486,
 7494,
 7501,
 7502,
 7507,
 7508,
 7514,
 7517,
 7528,
 7537,
 7539,
 7544,
 7547,
 7559,
 7564,
 7565,
 7573,
 7574,
 7579,
 7585,
 7600,
 7606,
 7615,
 7623,
 7632,
 7674,
 7680,
 7692,
 7695,
 7730,
 7749,
 7752,
 7808,
 7815,
 7835,
 7836,
 7856,
 7894,
 7901,
 7904,
 7909,
 7913,
 7921,
 7938,
 7941,
 7952,
 7959,
 7977,
 7983,
 7995,
 7999,
 8006,
 8011,
 8015,
 8016,
 8023,
 8033,
 8042,
 8051,
 8054,
 8058,
 8062,
 8067,
 8068,
 8086,
 8120,
 8125,
 8128,
 8142,
 8143,
 8149,
 8153,
 8169,
 8178,
 8179,
 8181,
 8189,
 8203,
 8233,
 8247,
 8261,
 8283,
 8291,
 8294,
 8300,
 8301,
 8348,
 8356,
 8360,
 8370,
 8408,
 8411,
 8423,
 8426,
 8430,
 8432,
 8434,
 8444,
 8446,
 8447,
 8448,
 8456,
 8460,
 8471,
 8473,
 8490,
 8493,
 8499,
 8501,
 8503,
 8511,
 8567,
 8574,
 8583,
 8604,
 8612,
 8616,
 8629,
 8633,
 8665,
 8680,
 8681,
 8707,
 8715,
 8726,
 8733,
 8743,
 8748,
 8752,
 8766,
 8767,
 8791,
 8817,
 8834,
 8835,
 8841,
 8842,
 8846,
 8853,
 8857,
 8870,
 8886,
 8888,
 8897,
 8903,
 8912,
 8920,
 8927,
 8952,
 8963,
 9009,
 9013,
 9026,
 9029,
 9037,
 9068,
 9078,
 9080,
 9081,
 9086,
 9096,
 9108,
 9118,
 9131,
 9134,
 9143,
 9153,
 9172,
 9183,
 9187,
 9192,
 9193,
 9197,
 9220,
 9238,
 9241,
 9253,
 9262,
 9268,
 9278,
 9284,
 9287,
 9301,
 9303,
 9349,
 9374,
 9381,
 9387,
 9395,
 9399,
 9405,
 9427,
 9437,
 9439,
 9446,
 9449,
 9479,
 9491,
 9495,
 9508,
 9526,
 9527,
 9528,
 9530,
 9537,
 9542,
 9544,
 9548,
 9558,
 9573,
 9582,
 9583,
 9591,
 9592,
 9593,
 9597,
 9604,
 9607,
 9621,
 9623,
 9626,
 9627,
 9628,
 9671,
 9672,
 9678,
 9682,
 9699,
 9711,
 9725,
 9739,
 9748,
 9759,
 9785,
 9789,
 9795,
 9813,
 9814,
 9820,
 9822,
 9836,
 9838,
 9845,
 9847,
 9848,
 9850,
 9855,
 9869,
 9870,
 9883,
 9884,
 9900,
 9910,
 9914,
 9920,
 9929,
 9951,
 9958,
 9961,
 9982,
 9991,
 9997,
 10008,
 10013,
 10019,
 10037,
 10042,
 10053,
 10059,
 10076,
 10083,
 10090,
 10136,
 10137,
 10141,
 10145,
 10155,
 10158,
 10197,
 10227,
 10229,
 10243,
 10246,
 10268,
 10270,
 10271,
 10286,
 10292,
 10310,
 ...]

In [29]:
for i in unique_type:   
    avg = df[(df["income_type"] == i) & (df["total_income"]).notna()]["total_income"].mean()
    df.loc[(df["income_type"] == i) & (df["total_income"]).isna(), "total_income"] = avg

In [30]:
df[df['total_income'].isna()]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [31]:
df['days_employed'] = df['days_employed'].fillna(-1)
df['total_income'] = df['total_income'].fillna(-1)

In [32]:
df[df['total_income'] == -1]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

In [33]:
def fill_income(row):
    total_income = row['total_income']
    income_type = row['income_type']
    if total_income == -1:      
        return income_type_to_median[income_type]
    return total_income
  
income_type_to_median = df.groupby("income_type").median()["total_income"].to_dict()    
       
df['total_income'] = df.apply(fill_income, axis=1)

In [34]:
df[df['total_income'] == -1]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

<font color='gray'>#Заметим, что у безработных и предпринимателей общий трудовой стаж в днях зашкаливает , однако эти данные не влияют на наш анализ

In [35]:
df.isnull().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

<font color='gray'>#Пропусков больше нет

### Вывод

<font color='gray'>#Пропуски могли возникнуть из-за потери данных или по причине неофициального трудоустройства клиента

### Замена типа данных

<font color='gray'>#После заполнения пропусков стала возможна процедура перевода типа данных

In [36]:
df['days_employed'] = df['days_employed'].astype('int')

df['total_income'] = df['total_income'].astype('int')

print(df.isnull().sum())
df.info()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     21525 non-null  int32
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      21525 non-null  int32
 11  purpose           21525 non-null  object
dtypes: int32(2), int64(5), object(5)
memory usage: 1.8+ MB

### Вывод

<font color='gray'>#Теперь таблица не режет глаза кучей знаков после запятой

### Обработка дубликатов

<font color='gray'>#Проверим наличие дубликатов с учетом регистра

In [37]:
df['education']=df['education'].str.lower()
df['family_status']=df['family_status'].str.lower()
df['gender']=df['gender'].str.lower()
df['income_type']=df['income_type'].str.lower()
df['purpose']=df['purpose'].str.lower()
df[df.duplicated(keep=False)]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
120,0,-1,46,среднее,1,женат / замужем,0,f,сотрудник,0,161380,высшее образование
520,0,-1,35,среднее,1,гражданский брак,1,f,сотрудник,0,161380,сыграть свадьбу
541,0,-1,57,среднее,1,женат / замужем,0,f,сотрудник,0,161380,сделка с подержанным автомобилем
554,0,-1,60,среднее,1,женат / замужем,0,m,сотрудник,0,161380,покупка недвижимости
680,1,-1,30,высшее,0,женат / замужем,0,f,госслужащий,0,170898,покупка жилья для семьи
...,...,...,...,...,...,...,...,...,...,...,...,...
20702,0,-1,64,среднее,1,женат / замужем,0,f,пенсионер,0,137127,дополнительное образование
21032,0,-1,60,среднее,1,женат / замужем,0,f,пенсионер,0,137127,заняться образованием
21132,0,-1,47,среднее,1,женат / замужем,0,f,сотрудник,0,161380,ремонт жилью
21281,1,-1,30,высшее,0,женат / замужем,0,f,сотрудник,0,161380,покупка коммерческой недвижимости
21415,0,-1,54,среднее,1,женат / замужем,0,f,пенсионер,0,137127,операции с жильем

<font color='gray'>#Удалим дубликаты и оставшиеся после этого пропуски

In [38]:
df=df.drop_duplicates().dropna().reset_index(drop=True)

<font color='gray'>#Проверим наличие дубликатов

In [39]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [children, days_employed, dob_years, education, education_id, family_status, family_status_id, gender, income_type, debt, total_income, purpose]
Index: []

### Вывод

<font color='gray'>#Странно, что все дубликаты до этого имели nan в столбцах days_employed и total_income. Возможно это связано с какой-то технической ошибкой, связанныой с отсутствием ответа на запрос по рабочим дням и зп

<font color='gray'>#Вероятно эти дубликаты на деле представляют из себя разных клиентов и доход - это как раз тот показатель, который их дифференцировал. Но, так как он отсутствует, эти клиенты превратились в дубликаты.

### Лемматизация

<font color='gray'>#Выполним лемматизацию и добавим результат в новый столбец purpose_lemms

In [40]:
pip install pymystem3

Requirement already satisfied: pymystem3 in c:\programdata\anaconda3\lib\site-packages (0.2.0)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from pymystem3) (2.22.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->pymystem3) (2.8)
Note: you may need to restart the kernel to use updated packages.

In [41]:
import pandas as pd
from pymystem3 import Mystem
m = Mystem()

In [42]:
def lemmas_df(column):
    column = m.lemmatize(column)
    return column

In [ ]:
df['purpose_lemms'] = df['purpose'].apply(lemmas_df)

In [ ]:
df

In [ ]:
df['purpose'].unique()

### Категоризация данных

In [ ]:
categorize=[]
for i in range(0, len(df['purpose'])):
    len_querys = df.loc[i,'purpose_lemms']
    for query in len_querys:
        categorize.append(query)

In [ ]:
from collections import Counter
print(Counter(categorize))

In [ ]:
categorize

<font color='gray'>#Выделим 4 категории: недвижимость, автомобиль, образование, свадьба

<font color='gray'>#Создадим новый столбец с категорией целей кредита по столбцу лемм

In [ ]:
def purpose_kat(purpose_row):
    for purpose_kat_name in purpose_row:
        if purpose_kat_name == 'недвижимость' or purpose_kat_name == 'жилье':
            return 'недвижимость'
        if purpose_kat_name == 'автомобиль':
            return 'автомобиль'
        if purpose_kat_name == 'образование':
            return 'образование'
        if purpose_kat_name == 'свадьба':
            return 'свадьба'

df['purpose_kat'] = df['purpose_lemms'].apply(purpose_kat)

In [ ]:
df.head(10)

In [ ]:
df['purpose_kat'].unique()

<font color='gray'>#Сохраним df на всякий случай и удалим из него purpose_lemms за ненадобностью

In [ ]:
import copy
df_with_lem = copy.deepcopy(df)

In [ ]:
del df['purpose_lemms']

In [ ]:
df

### Вывод

<font color='gray'>#Теперь проще будет искать зависимости

---

<font color='gray'>#Уберем выбросы

<font color='gray'>#Предполагая, что -1, 20 получилось из за неправильного заполнения таблицы

In [ ]:
df.groupby('children')['debt'].count()

In [ ]:
df['debt'].unique()

In [ ]:
#df[df['children'] == -1]['children'] = 1

In [ ]:
#df[df['children'] == 20]['children'] = 2

<font color='gray'>#Предупреждение говорит нам сделать подругому

In [ ]:
df.loc[df['children'] == -1, 'children'] = 1

In [ ]:
df.loc[df['children'] == 20, 'children'] = 2

In [ ]:
df['children'].unique()

<font color='gray'>#Сделаем категоризацию по количеству детей и создадим новый столбец

In [ ]:
def children_kat(quantity):
    if quantity == 0:
        return 'нет детей'
    if quantity == 1:
        return '1 ребенок'
    if quantity == 2:
        return '2 ребенка'
    return 'многодетные'

df['children_kat'] = df['children'].apply(children_kat)

In [ ]:
df['children_kat'].unique()

In [ ]:
pivot_children = df.pivot_table(index = 'children_kat', values = ['debt'], aggfunc = ['sum','count'])
pivot_children

In [ ]:
pivot_children.set_axis (['Есть долги','Общее число'], axis = 'columns', inplace = True)

In [ ]:
pivot_children['Нет долгов'] = pivot_children['Общее число'] - pivot_children['Есть долги']

In [ ]:
pivot_children['Процент должников '] = pivot_children['Есть долги'] / pivot_children['Общее число']
pivot_children.loc[:,'Процент должников '] *= 100
pivot_children

In [ ]:
pivot_children.style.format({'Процент должников ': '{:,.3}'.format})

In [ ]:
df['children'].corr(df['debt'])

In [ ]:
dpivot_df_children_kat = df.pivot_table(index=['children_kat'], columns='debt', values='children', aggfunc='count')
dpivot_df_children_kat

In [ ]:
dpivot_df_children_kat[0]['1 ребенок']

### Вывод

<font color='gray'>#Видно, что у людей с 2 детьми большее за должностей по кредиту

<font color='gray'>#Лучше всего кредит отдают люди без детей

<font color='gray'>#Выбросы в виде -1 и 20 кол-ва детей могли возникнуть из за ошибки при сборе информации или из-за использования неправильного разделителя

### Поиск зависимости между семейным положением и возвратом кредита в срок

In [ ]:
df['family_status_id'].unique()

In [ ]:
df['family_status'].unique()

In [ ]:
df['family_status_id'].corr(df['debt'])

In [ ]:
# print(df[df['family_status_id'] == 0].head(1)) # женат / замужем
# print(df[df['family_status_id'] == 1].head(1)) # гражданский брак
# print(df[df['family_status_id'] == 2].head(1)) # вдовец / вдова
# print(df[df['family_status_id'] == 3].head(1)) # в разводе
# print(df[df['family_status_id'] == 4].head(1)) # не женат / не замужем

In [ ]:
df.groupby(['family_status','family_status_id']).agg({'debt':'count'})

In [ ]:
pivot_df_family_status=df.pivot_table(index=['family_status'], columns='debt', values='family_status_id', aggfunc='count')
pivot_df_family_status

In [ ]:
pivot_df_family_status.columns

In [ ]:
# pivot_df_family_status['ratio'] = pivot_df_family_status['1'] / pivot_df_family_status['0']
# pivot_df_family_status

In [ ]:
pivot_df_family_status_ii = df.pivot_table(index = 'family_status', values = ['debt'], aggfunc = ['sum','count'])
pivot_df_family_status_ii

In [ ]:
pivot_df_family_status_ii.info()

In [ ]:
pivot_df_family_status_ii.set_axis (['Есть долги','Общее число'], axis = 'columns', inplace = True)

In [ ]:
pivot_df_family_status_ii['Нет долгов'] = pivot_df_family_status_ii['Общее число'] - pivot_df_family_status_ii['Есть долги']

In [ ]:
pivot_df_family_status_ii['Процент должников'] = pivot_df_family_status_ii['Есть долги'] / pivot_df_family_status_ii['Общее число']
pivot_df_family_status_ii.loc[:,'Процент должников'] *= 100
pivot_df_family_status_ii

### Вывод

<font color='gray'>#Тут среди лидеров должников оказались люди со статусом :не замужем/не женат, гражданский брак

<font color='gray'>#В целом, здесь видно, что наиболее надежные заемщики, это те, кто находится или когда-либо был в браке.

### Поиск зависимости между уровнем дохода и возвратом кредита в срок

In [ ]:
df.plot(x='total_income', y='debt', kind='scatter', alpha=0.3, grid=True, figsize = (20,4)),

In [ ]:

df['total_income'].quantile(q=[0.4,0.9]).loc[0.4]

In [ ]:
df['total_income'].quantile(q=[0.4,0.9]).loc[0.9]

In [ ]:
min_total_income = df['total_income'].quantile(q=[0.4,0.9]).loc[0.4]
max_total_income = df['total_income'].quantile(q=[0.4,0.9]).loc[0.9]

In [ ]:
def income_kat(size):
    if size <= min_total_income:
        return 'маленькая зп'
    if min_total_income < size <= max_total_income:
        return 'средняя зп'
    if size > max_total_income :
        return 'большая зп'
    return 'Ошибка'

df['income_kat'] = df['total_income'].apply(income_kat)

In [ ]:
print(df['total_income'].describe(include='all').loc['25%'], '- 25%')
print(df['total_income'].describe(include='all').loc['75%'], '- 75%')
print(df['total_income'].describe(include='all'))

In [ ]:
df['income_kat'].unique()

In [ ]:
pivot_income = df.pivot_table(index = 'income_kat', values = ['debt'], aggfunc = ['sum','count'])
pivot_income

In [ ]:
pivot_income.set_axis (['Есть долги','Общее число'], axis = 'columns', inplace = True)
pivot_income['Нет долгов'] = pivot_income['Общее число'] - pivot_income['Есть долги']
pivot_income['Процент должников'] = pivot_income['Есть долги'] / pivot_income['Общее число']
pivot_income.loc[:,'Процент должников'] *= 100
pivot_income

### Вывод

<font color='gray'>#Люди с средней и маленькой зарплатой чаще имеют задолженность по возврату кредита

### Поиск влияния цели кредита на его возврат в срок

In [ ]:
df['purpose_kat'].unique()

In [ ]:
pivot_df_purpose = df.pivot_table(index = 'purpose_kat', values = ['debt'], aggfunc = ['sum','count'])
pivot_df_purpose

In [ ]:
pivot_df_purpose.set_axis (['Есть долги','Общее число'], axis = 'columns', inplace = True)
pivot_df_purpose['Нет долгов'] = pivot_df_purpose['Общее число'] - pivot_df_purpose['Есть долги']
pivot_df_purpose['Процент должников'] = pivot_df_purpose['Есть долги'] / pivot_df_purpose['Общее число']
pivot_df_purpose.loc[:,'Процент должников'] *= 100
pivot_df_purpose

In [ ]:
pivot_df_purpose['Нет долгов']

### Вывод

<font color='gray'># основные задолжники берут кредит на авто или образование

### Шаг 4. Общий вывод

<font color='gray'>#Потенциально самые слабые заемщики по возврату кредита: Люди, состоящие в гражданском браке с двумя детьми и средней зарплатой

<font color='gray'><strong>#Из данного списка хорошими заемщиками оказались люди, которые находятся, или когда либо находились в браке, не имеющие детей, или являющиеся многодетными родителями с большой зарплатой, целью кредита которых является недвижимость или свадьба